<h3>{{viewTitle}}</h3>

<form action="/user" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{user._id}}">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" value="{{user.name}}">
        <div class="text-danger">
            {{user.nameError}}</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{user.email}}">
        <div class="text-danger">
            {{employee.emailError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Number</label>
            <input type="text" class="form-control" name="mobile" placeholder="Mobile" value="{{user.mobile}}">
        </div>
        <div class="form-group col-md-6">
            <label>Address</label>
            <input type="text" class="form-control" name="address" placeholder="Address" value="{{user.address}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/user/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>